{% extends "main_temp.html" %}
{% block title %}
Login
{% endblock %}
{% block main_attr %} class="text-center" {% endblock %}
{% block css_block %}
<link href="{{url_for('static', filename='signin.css') }}" rel="stylesheet">
<link href="{{url_for('static', filename='error.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
<form method="post" class="form-signin" _lpchecked="1">
		{% with errors = get_flashed_messages() %}
			{% if errors %}
				{% for message in errors %}
					<p class="err-msg">{{message|safe}}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
      <img class="mb-4" src="{{ url_for('static', filename='squirrel.jpg') }}" alt="Squirrel!" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="" >
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>

{% endblock %}
